body {
  font-family: Arial;
  padding: 20px;
  background: #0f172a;
  color: white;
}

.center {
  max-width: 400px;
  margin: auto;
}

input, textarea, select, button {
  width: 100%;
  margin: 8px 0;
  padding: 12px;
  border-radius: 8px;
  border: none;
}

button {
  background: #22c55e;
  color: black;
  font-weight: bold;
}
